<div class="container-fluid bg-light">
    <div class="row">
        <div class="dropdown p-3 border bg-light2 col-md col-lg">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {{ selectedCommunication }}
            </button>
            <div >
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                    <li *ngFor="let comm of communications; index as i">
                        <a class="dropdown-item" (click)="selectCommunication(comm)" href="#">{{ comm }}</a>
                    </li>

                </ul>
            </div>

        </div>

        <div *ngIf="services; else loading" class="dropdown p-3 border bg-light2 col-md col-lg">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {{ selectedService }}
            </button>
            <div >
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                    <li *ngFor="let service of services; index as i">
                        <a class="dropdown-item" (click)="selectService(service)" href="#">{{ service }}</a>
                    </li>

                </ul>
            </div>
        </div>
        <ng-template #loading>
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </ng-template>
    </div>
</div>
