<div class="container-fluid bg-light">
    <div class="row">
        <div class="dropdown p-3 border bg-light2 col-md col-lg">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {{ selectedCommunication }}
            </button>
            <div >
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                    <li *ngFor="let comm of communications; index as i">
                        <a class="dropdown-item" (click)="selectCommunication(comm)" href="#">{{ comm }}</a>
                    </li>

                </ul>
            </div>

        </div>

        <div *ngIf="services; else loading" class="dropdown p-3 border bg-light2 col-md col-lg">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {{ selectedService }}
            </button>
            <div >
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                    <li *ngFor="let service of services; index as i">
                        <a class="dropdown-item" (click)="selectService(service)" href="#">{{ service }}</a>
                    </li>

                </ul>
            </div>
        </div>

    <!-- Date Filter  -->
      <div *ngIf="services; else loading" class="dropdown p-3 border bg-light2 col-md col-lg">
        <form class="row row-cols-sm-auto">
          <div class="col-12">
            <div class="dp-hidden position-absolute">
              <div class="input-group">
                <input
                  name="datepicker"
                  class="form-control"
                  ngbDatepicker
                  #datepicker="ngbDatepicker"
                  [autoClose]="'outside'"
                  (dateSelect)="onDateSelection($event)"
                  [displayMonths]="2"
                  [dayTemplate]="t"
                  outsideDays="hidden"
                  [startDate]="fromDate!"
                  tabindex="-1"
                />
                <ng-template #t let-date let-focused="focused">
					<span
            class="custom-day"
            [class.focused]="focused"
            [class.range]="isRange(date)"
            [class.faded]="isHovered(date) || isInside(date)"
            (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null"
          >
						{{ date.day }}
					</span>
                </ng-template>
              </div>
            </div>
            <div class="input-group">
              <input
                #dpFromDate
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dpFromDate"
                [value]="formatter.format(fromDate)"
                (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
              />
              <button class="btn btn-outline-secondary bi bi-calendar3" (click)="datepicker.toggle()" type="button"></button>
            </div>
          </div>
          <div class="col-12">
            <div class="input-group">
              <input
                #dpToDate
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dpToDate"
                [value]="formatter.format(toDate)"
                (input)="toDate = validateInput(toDate, dpToDate.value)"
              />
              <button class="btn btn-outline-secondary bi bi-calendar3" (click)="datepicker.toggle()" type="button"></button>
            </div>
          </div>
        </form>
      </div>

      <div *ngIf="services; else loading" class="dropdown p-3 border bg-light2 col-md col-lg">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          {{ selectedService }}
        </button>
        <div >
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
            <li *ngFor="let service of services; index as i">
              <a class="dropdown-item" (click)="selectService(service)" href="#">{{ service }}</a>
            </li>

          </ul>
        </div>
      </div>

        <ng-template #loading>
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </ng-template>
    </div>
</div>
