

<div *ngIf="restLogs; else notFound">
    <div class="col-12 col-lg-2" *ngFor="let log of restLogs">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ log.id }}</h5>
                <p class="card-text">{{ log.service }}</p>
                <p class="card-text">{{ log.request.url }} {{ log.request.method }} {{ log.request.body }} {{ log.request.headers }} {{ log.request.parameters }}</p>
                <p class="card-text">{{ log.response.statusCode }} {{ log.response.body }} {{ log.response.headers }}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
<ng-template #notFound>
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">No logs found</h4>
        <p>There are no logs to display.</p>
        <hr>
        <p class="mb-0">Please try again later.</p>
    </div>
</ng-template>
