<div *ngIf="communicationLogs">

  <table class="table table-striped" *ngIf="selectedCommunication === CommunicationsEnum.REST; else kafka">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Service</th>
      <th scope="col">Request</th>
      <th scope="col">Response</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let log of communicationLogs">
      <th scope="row">{{ log.id }}</th>
      <td>{{ log.service }}</td>
      <td>
        {{ log.request.url }}
      </td>
      <td>
        {{ log.response.statusCode }}
      </td>
    </tr>
    </tbody>
  </table>

  <ng-template #kafka>
    <div *ngIf="selectedCommunication === CommunicationsEnum.KAFKA; else notFound">

        <table class="table table-striped" *ngIf="selectedCommunication === CommunicationsEnum.KAFKA; else notFound">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Service</th>
            <th scope="col">Operation</th>
            <th scope="col">Topic</th>
            <th scope="col">Consumers</th>
            <th scope="col">Producers</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let log of communicationLogs">
            <th scope="row">{{ log.id }}</th>
            <td>{{ log.service }}</td>
            <td>{{ log.operation }}</td>
            <td>{{ log.topic }}</td>
            <td>
              <div *ngFor="let consumer of log.consumers">
                {{ consumer.messageId }}
              </div>
            </td>
            <td>
              <div *ngFor="let producer of log.producers">
                {{ producer.messageId }}

              </div>
            </td>
            <td>
              <a href="#" class="btn btn-primary">click</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
  </ng-template>

</div>

<ng-template #notFound>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">No logs found</h4>
    <p>There are no logs to display.</p>
    <hr>
    <p class="mb-0">Please try again later.</p>
  </div>
</ng-template>
