<div class="container">
    <div class="p-4 border bg-light">
    </div>

    <div class="row">
        <div class="col">
            <app-header/>
        </div>
    </div>

    <div class="row">
        <div class="col" >
           <app-filter (selectedCommunicationEvent)="selectCommunication($event)" [communicationLogs]="restLogs"></app-filter>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-logs [restLogs]="restLogs"></app-logs>
        </div>
     </div>
</div>


