<div class="container">
    <div class="p-4 border bg-light">
    </div>

    <div class="row">
        <div class="col">
            <app-header/>
        </div>
    </div>

    <div class="row">
        <div class="col" >
           <app-filter (selectedCommunicationEvent)="selectCommunication($event)" [communicationLogs]="data"></app-filter>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-logs
              [selectedCommunication]="selectedCommunication"
              [communicationLogs]="data"
              [restLogs]="restLogs"
              [kafkaLogs]="kafkaLogs"
            ></app-logs>
        </div>
     </div>
</div>


